@import "../../../assets/global.scss";

.display-grid {
  display: grid;

  flex: 1;
  min-width: 300px;

  gap: 3vw;
  padding: 20px;
  background-color: black;

  &.first-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  &.second-grid {
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.grid-item-container {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.grid-image {
  width: 100%;
  height: auto;

  transition: transform 0.3s;
  max-width: 250px;
}

.grid-image-caption {
  position: absolute;
  display: flex;
  font-family: drover, sans-serif;
  border: 2px solid $extraRed;
  background: black;
  justify-content: center;
  padding: 10px;
  opacity: 0;
  width: 90%;
  font-size: calc(10px + 0.2vw);
  pointer-events: none;
  z-index: 2;
  max-width: 800px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.grid-item-container:hover .grid-image-caption {
  opacity: 1;
}
