@import "../../assets/global.scss";

.project-page {
  //   display: flex;
  //   flex-direction: column;
  padding: $pagePaddingVertical $pagePaddingHorizontal;

  .intro-container {
    .title {
      display: flex;
      align-items: center;
      font-size: calc(24px + 2vw);
      margin-bottom: calc(10px + 1vh);

      h1 {
        font-family: "drover", sans-serif;
        font-size: inherit;
        margin-bottom: 0;
        .link {
          margin-left: 2vw;
        }
      }
    }

    p {
      margin-top: calc(40px + 1vh);
      margin-bottom: calc(20px + 1vh);
      font-weight: 300;
      font-size: calc(18px + 0.6vw);
      letter-spacing: 1px;
      width: 100%;
      font-family: "neue-haas-display", sans-serif;
    }

    img {
      width: 100%;
      min-width: auto;
      max-width: 100%;
      display: block;
      object-fit: contain;

      border-radius: 25px;
      border: 1px solid black;

      @media (max-width: 767px) {
        border-radius: 12px;
      }
    }

    .icons-container {
      display: flex;
      flex: 1;
      justify-content: space-between;
      margin-left: 2vw;
      margin-right: 2vw;

      align-items: center;
      .icon {
        font-family: wild-west-icons;
      }

      .cactus {
        font-size: calc(70px + 8vw);
      }

      .horse {
        font-size: calc(50px + 8vw);
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(60px + 1vw);

    .section-title {
      margin-bottom: calc(15px + 1vw);
    }
  }
}
