@import "../../../assets/global.scss";

.blood {
  display: flex;
  position: relative;
  justify-content: space-between;
  top: -27px;
  left: 3px;
  height: 100px;

  .drip {
    background: $extraRed;
    border-radius: 50px;
    left: 0;
    pointer-events: none;
    top: 0;
    transition: height 1s ease-in-out;
    width: 10px;
    height: 0;
  }

  .-d1 {
    left: 7px;
    top: -8px;
    transition-delay: 0.1s;
    transition-duration: 15s;
    width: 8px;
  }
  .-d2 {
    left: 21px;
    top: -8px;
    transition-delay: 0.2s;
    width: 6px;
  }
  .-d3 {
    left: 14px;
    top: -10px;
    transition-delay: 0.1s;
    transition-duration: 4s;
    width: 6px;
    margin-left: 3px;
  }

  .-d5 {
    left: 86px;
    top: -5px;
    transition-duration: 3s;
    width: 6px;
  }
  .-d6 {
    left: 90px;
    top: -6px;
    transition-delay: 0.5s;
    transition-duration: 8s;
    width: 6px;
  }

  .-d11 {
    left: 215px;
    top: -7px;
    transition-duration: 4s;
    width: 6px;
  }
  .-d12 {
    left: 200px;
    top: -7px;
    transition-delay: 2s;
    width: 7px;
  }
  .-d13 {
    left: 44px;
    top: 37px;
    transition: height 1s ease-out;
    transition-delay: 6s;
    width: 6px;
  }
  .-d14 {
    left: 221px;
    top: -7px;
    transition-delay: 3s;
    transition-duration: 6s;
    width: 8px;
  }
  .-d15 {
    left: 119px;
    top: -7px;
    transition-delay: 1s;
    transition-duration: 12s;
    width: 6px;
    margin-right: 2px;
  }

  &.active {
    .-d1 {
      height: 100px;
    }
    .-d2 {
      height: 60px;
    }
    .-d3 {
      height: 10px;
    }

    .-d5 {
      height: 40px;
    }
    .-d6 {
      height: 85px;
    }

    .-d11 {
      height: 100px;
    }
    .-d12 {
      height: 50px;
    }
    .-d13 {
      height: 10px;
    }
    .-d14 {
      height: 28px;
    }
    .-d15 {
      height: 80px;
    }
  }
}
