.job-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: center;
}

.job-title {
  font-family: "neue-haas-display", sans-serif;
  font-weight: 900;
  font-size: calc(24px + 0.4vw);
}

.company {
  font-family: "neue-haas-display", sans-serif;
  font-weight: 900;
  font-size: calc(14px + 0.4vw);
}

.date {
  font-family: "neue-haas-display", sans-serif;
  font-weight: 300;
  font-size: calc(14px + 0.4vw);
  align-items: center;
  display: flex;
}
