@import "../../../assets/global.scss";

.experience {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: $sectionPadding;
}

.achievements-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tags-container {
  display: flex;
  grid-column-gap: 0.6em;
  grid-row-gap: 0.8em;
  flex-wrap: wrap;
}

.tire-container {
  display: flex;
  justify-content: flex-end;
  font-size: calc(84px + 4vw);
  overflow: hidden;
  padding-top: 4vh;
}
.tire-icon {
  font-family: wild-west-icons, sans-serif;
  animation: spin 16s linear infinite;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
