$mainColor: #dda15e;
$extraRed: #ff0303;

$pagePaddingHorizontal: 5vw;
$pagePaddingVertical: 10vh;

$sectionPadding: 10vh;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

/*$mainColor: #ffa703;*/
