@import "../../../../assets/global.scss";

.project-container {
  position: relative;
  &:hover {
    @media screen and (min-width: 767px) {
      .hover-image-wrapper {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.project {
  position: relative;
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  flex-wrap: wrap;
  grid-row-gap: 0.8em;
  transition: border-radius 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
    color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 5;

  @media screen and (max-width: 767px) {
    padding: 3vw;
  }

  &:hover {
    background-color: black;
    color: $mainColor;

    border-radius: 200px;
    @media screen and (max-width: 767px) {
      border-radius: 20px;
    }
  }
}

.hover-image-wrapper {
  width: 32vw;
  border: 1px solid black;
  background-color: black;
  border-radius: 50px;
  visibility: hidden;
  position: absolute;
  left: 38vw;
  top: -10vw;
  overflow: hidden;
  z-index: 6;
  opacity: 0;
  transition: all 0.4s ease;

  .hover-image {
    position: relative;
    min-width: auto;
    opacity: 1;
    object-fit: cover;
    width: auto;
    max-width: 100%;
    display: inline-block;
  }
}

.info {
  display: flex;
  gap: 3vw;
  align-items: center;
}
.tags {
  display: flex;
  align-items: center;
  grid-column-gap: 0.6em;
  grid-row-gap: 0.8em;
}

.project-number {
  font-family: "drover", sans-serif;
  font-size: calc(24px + 0.4vw);
}

.project-name {
  font-family: "neue-haas-display", sans-serif;
  font-weight: 900;
  font-size: calc(24px + 0.4vw);
}

.link-reset {
  text-decoration: none;
  color: inherit;
}
